/*Add appointment*/
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #A2ABD1;
    font-size: 50px;
    margin-top: 1.5em;
}
#addService{
    display: flexbox;
    justify-content: space-around;
    
    text-align: center;
    
     
}
#manager_bg{
    position: absolute;
    filter: saturate(200%);
    z-index: -1;
    
    width:759.5px;
    height:555px;
    

}
#Servandtime{
    margin-top: 10em;
    
    
}
#serv{
    font-size: 30px;
    color: #111B47;
}
#serviceOptions {
    margin: 1%;
    border-color: #C9C9C9;
    border-radius: 30px;
    padding-left: 1em;
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: #111B47;
}
#time{
    font-size: 30px;
    color: #111B47; 
    margin-top: 1em;
    
}
#time1{
    
    border-color: #C9C9C9;
    border-radius: 30px;
    padding-left: 1em;
    width: 300px;
    height: 40px;
    text-align: center;
    font-size:20px;
    color: #111B47;
   
}
#addbtn{
background-color: #A2ABD1;
color: white;

border-radius: 30px;

border:none;
cursor: pointer;
width: 200px;
height: 50px;
opacity: 0.9;
margin-left: 5rem ;
margin-top: 1rem ;
font-size:30px;
text-align: center;


}
#addbtn:hover {
opacity: 1;
}