body{
    margin: 0%;
}
#container{
    margin-top: 3em;
    
    display: flex;
    justify-content: space-around;
    
}
#images{
    position: relative;
    display: flex;
    

}
.img{
    position: relative;
    /*width:550px;
    height:600px;*/
    
    width:700px;
    height:760px;
    z-index: 1;
    object-position: 350px 143px;
   /* left: 120px;*/
    /*2ضابط بس كبير
   width:800px;
    height:900px;
   object-position: 150px 30px; */ 
    
}

.background{
    
    position: absolute;
    z-index: -1;
    
    width:755px;
    height:760px;
        /*2ضابط بس كبير

    width:830px;
    height:760px;*/
   
}

#box{
    width: 450px;
    height: 790px;
    box-shadow: 1px 1px 15px 1px #ebebeb;
    border-radius: 17px;
    padding-bottom: 2em;
    margin-right: 100px;
    margin-left: 50px;
    
}
#smallImg{
    height: 70px;
}
#top{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: #e4e8fc;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}
#profile_image{
    height: 70px; 
}
#signInBtn2{
    background-color: #111B47;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-radius: 30px;
    border: none;

    /*heereeeeee*/
  border: none;
  cursor: pointer;
  width: 60%;
  height: 90%;
  opacity: 0.9;
margin-left: 5rem ;
margin-top: 1rem ;

   
}
#signInBtn2:hover {
    opacity: 1;
  }
#inputs{
    padding: 2em;
    
}

  input[type="text"], [type="password"],[type="email"],[type="tel"]{
    width: 300px;
    margin-top: 0.5em;
   
        border-radius: 10px;
        padding-left: 1em;
        width: 300px;
        height: 40px;
        border-color: #85858573;
    
}
input[type="radio"]{
   
    margin-top: 0.5em;
    
    margin-left: 1em;
    
   
}

  
