@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}       
.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #A2ABD1;  
}
.rectangle {  
   left: 0%;
   height: 100%;
   width: 70px;
   background: linear-gradient(180deg, #FAF1FB 0%, #E4EEFD 100%);
 }
.cards {
  box-shadow: 1px 1px 15px 1px #ebebeb;
} 
.line {
  background-color: #A2ABD1;
  width: 200px;
  height: 2px;
  margin-top: 10px;
  margin-left: 5%;
}
p {
    margin-left: 5%;
    font-weight: bold;
    color: #A2ABD1;
    font-size: 20px;
}
.upcoming-apt p {
  color: #8991b4;
  padding-top: 70px; 
  font-size: 22px;  
}
.upcoming-apt {
  margin: 5px 20px;
}
.t-img {
  width: 56px;
  height: 56px; 
  border-radius: 50%; 
}
tr{
  border-bottom: 1px solid rgb(161, 161, 161);
}
th{
  color: #646d95;
  font-size: 1.2em;
}
td {
  padding: 1em;
  text-align: center;
  font-size: 18px;
}
.box{
  overflow-y: scroll;
  max-height: 800px;
  max-width: 1200px;
}
.box table{         
  padding: 1.8em;
  margin: 5px 80px;
  width: 1100px;
  box-shadow: 1px 1px 15px 1px #ebebeb;
  border-radius: 10px;
  border-spacing: 1em;
  background-color: white;
}

.noteBtn{
  border: none;
  background:none;
  width: 70px;
  color:#A2ABD1;
  height: 70px;
  font-size: 1.5em;
}
.reviewBtn{
  border-radius: 30px;
  border: none;
  background-color: #9197b4;
  width: 70px;
  color:white;
  font-size: 1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
.reviewBtn:hover{
  background-color: #757b99;
}
.noteIcon{
  color: #A2ABD1;
  font-size: 1.7em;
}
#myPets{
  margin-left: -20px;
}
.reviewed, .Accepted{
  color:rgb(66, 134, 82);
  font-weight: 500;
}
.buttons{
  border: none;
  background: none;
  width: 70px;
  color:#A2ABD1;
  height: 70px;
  font-size: 1em;
}
.cancelButtons{
  border: none;
  background-color: rgb(185, 63, 63);
  border-radius: 50px;
  padding: 0.2em 0.8em 0.2em 0.8em;
  color: white;
  font-size: 1.2em;
  margin-left: 0.5em;
}
.cancelButtons:hover{
  background-color: rgb(162, 57, 57);
}
.pencilIcon{
  color: #c3c3c3;
  font-size: 2.1em;
}
.pencilIcon:hover{
  color: #afafaf;
}
.Declined{
  color: rgb(193, 44, 44);
}
.Cancelled{
  color:rgb(193, 44, 44);
}
.Pending{
  color:rgb(214, 150, 60);
}
#darkBcground{
  width: 100%;
  background-color: black;
  height: 100vh;
  position: absolute;
  z-index: 2;
  opacity: 25%;
  display: none;
}
.star{
  font-size: 2.3em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  color: #a1a1a1;
  cursor: pointer;
}
#delete-confirmation{
  display: none;
  position: absolute;
  background-color: white;
  margin-left: 38%;
  margin-top: 21vh;
  z-index: 3;
}
#content-container{
  box-shadow: 1px 1px 15px 2px #d8d8d8;
  width: 400px;
  min-height: 100px;
  z-index: 3;
  padding: 2em;
}
#content-container p{
  overflow-y: scroll;
}
.confirm-action-Button{
  border: none;
  background-color: rgb(185, 63, 63);
  border-radius: 50px;
  padding: 0.2em 0.8em 0.2em 0.8em;
  color: white;
  font-size: 1.2em;
  margin-left: 0.5em;
}
.confirm-action-Button2{
  border: none;
  background-color: rgb(82, 165, 65);
  border-radius: 50px;
  padding: 0.2em 0.8em 0.2em 0.8em;
  color: white;
  font-size: 1.2em;
  margin-left: 0.5em;
}
#cancelButton{
  border: none;
  background-color: rgb(182, 182, 182);
  border-radius: 50px;
  padding: 0.2em 0.8em 0.2em 0.8em;
  color: white;
  font-size: 1.2em;
  margin-right: 0.5em;
}
.confirm-action-Button:hover{
  background-color: rgb(162, 52, 52);
}
.confirm-action-Button2:hover{
  background-color: rgb(71, 148, 56);
}
#cancelButton:hover{
  background-color: rgb(158, 158, 158);
}
