body{
    margin: 0;
  }
  #Logo{
    width: 95px;
    height: 95px;
  }
  #verticalLine{
    align-self: center;
    border-left-width:1px;
    margin-top: 0.5em;
    height: 50px;
    border-left: solid;
    border-left-color: #DBDBDC;
    display: inline;
  }
  #headerContainer div h4{
    display: inline;
    margin-left: 1em;
    color: #111B47;
    font-weight: bold;
    align-self: center;
    margin-top: 22px;
  }
  #navbarNav{
    margin-left: 1em;
  }
  #navbarNav ul li a{
    color: #111B47;
  }
  #navbarNav ul li {
    margin-left: 1.5em;
    margin-right: 1.5em;  
  }
  #sidemenu-btn:focus{
    box-shadow: none;
  }
  #User-Icon-Container{
    margin-left: auto;
    margin-right: 1.5em;
      
  }
  #User-Icon-subContainer{
    display: flex;
  }
  #UserIcon{
    width: 60px;
    height: 60px;
    border: none;
  }
  #triangle{
    font-size: 30px;
    align-self: center;
    margin-left: 2px;
    color: #5E5F61;
  }
  #triangle:hover, #UserIcon:hover{
    cursor: pointer;
  }
  #User-Icon-Container nav{
    display: none;
    margin-top: 0.1em;
    margin-left: -5em;
    position: absolute;
    background-color: white;
  }
  #User-Icon-Container nav ul li{
    display: flex;
    text-align: center;
    border-bottom: solid #f0f0f0;
    padding: 0.5em;
  }
  #User-Icon-Container nav ul li:hover{
    background-color: #e6e6e6;
  }
  #User-Icon-Container nav ul li a{
    align-self: center;
    justify-self: center;
  }
  #User-Icon-Container:hover nav{
    display: block;
  }
  #User-Icon-Container:hover nav ul{
    list-style: none;
    box-shadow: 1px 1px 15px 1px #dddddd;
    padding: 0%;
    text-align: center;
    width: 180px;
  }
  .User-nav-items{
    margin-left: 15px;
  }
  #User-Icon-Container:hover nav ul li a{
    text-decoration: none;
    color:#5E5F61;
  }
  .User-nav-items-icons{
    margin-left: 5px;
  }
  .bi-grid-1x2-fill, .bi-person-circle{
    color:#b6b6b6;
  }
  .bi-box-arrow-right{
    color: rgb(165, 32, 32);
  }
  /*    Media Queries   */
  @media screen and (max-width: 991px) {
    #User-Icon-Container{
      margin-right: 2px;    
    }
    #UserIcon{
      width: 45px;
      height: 45px;
    }
    #Logo{
      width: 82px;
      height: 82px;
    }
    #headerContainer div h4{
      font-size: 20px;
      margin-left: 0.5em;    
    }
    #verticalLine{
      height: 45px;  
    }
    #User-Icon-Container:hover nav ul{
      width: 150px;
    }
    #User-Icon-Container nav{
      margin-left: -3em;
    }
  }