.outerCircle{
    background-color: #dddddd;
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  .innerCircle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
  }
  .lines{
    background-color: #dddddd;
    height: 1px;
    width: 290px;
  }
  .active{
      background-color: #111B47;
  }
  .nonActive{
      background-color: #ffffff;
  }
  .movingBtns{
      border: none;
      border-radius: 35px;
      padding-left: 1em;
      padding-right: 1em;
      height: 40px;
      width: 100px;
  }
  .darkBtn:hover{
    background-color: #2c355d;
  }
  .lightBtn:hover{
    background-color: #f8f8f8;
  }
  .darkBtn{
      background-color: #111B47;
      color: white
  }
  .lightBtn{
      background-color: #ffffff;
      color: #111B47;
      border: solid #111B47;
  }
#backBtn{
    display: none;
}
#bcBluePath{
    width: 820px;
    max-height: 680px;
    left: -12em;
    bottom:0;
    position: absolute;
    z-index: -1;
}
#bcImg{
height: 180px;
position: absolute;
bottom: 0;
left: 0;
}
#AppointmentOptions{
min-height: 455px;
}
.ui-widget-header{
    background: #A2ABD1 ;
}
td{
    border-radius: 50px;
}
.ui-datepicker-month, .ui-datepicker-year{
    color: white;
}
.alert{
  padding: 0.5em !important;
  margin-bottom: 0 !important;
}
  @media screen and (max-width: 991px) {
    .lines{
      width: 110px;
    }
    #bcBluePath{
      height: 250px;
      width: 350px;
    }
    #bcImg{
      height: 100px;
    }
  }