/*Add appointment*/
body{
    font-family: 'Roboto', sans-serif;
}
h2{
    color: #6974a5;
}
#addService{
    padding: 3em;
}
#Servandtime{
    margin-top: 4em;    
}
#serv{
    font-size: 30px;
    color: #313d6e;
}
#serviceOptions {
    margin: 1%;
    border-color: #C9C9C9;
    border-radius: 30px;
    padding-left: 1em;
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    color: #111B47;
}
#time{
    font-size: 30px;
    color: #313d6e; 
    margin-top: 1em;
    margin-left: 2em;
    
}
.line {
    background-color: #A2ABD1;
    width: 300px;
    height: 2px;
    margin-top: 10px;
    border-radius: 30px;
  }
#time1{
    
    border-color: #C9C9C9;
    border-radius: 30px;
    padding-left: 1em;
    width: 300px;
    height: 40px;
    text-align: center;
    font-size:20px;
    color: #111B47;
   
}
#addbtn{
    background-color: #A2ABD1;
    color: white;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    opacity: 0.9;
    margin-top: 1em ;
    font-size:30px;
    text-align: center;
}
#addbtn:hover {
    opacity: 1;
}
#datepicker{
    margin-top: 2.5em;
    margin-bottom: .5em;
}