body {
    font-family: 'Roboto', sans-serif;
  }
  
  .line {
    background-color: #A2ABD1;
    width: 250px;
    height: 2px;
    margin-top: 10px;
    margin-left: 5%;
  }

  p {
    margin-left: 5%;
    font-weight: bold;
    color: #828ab1;
    font-size: 22px;
}
  .t-img {
    width: 56px;
    height: 56px; 
  }
  th{
    color:#6e79a7;
    font-weight: 600;
    font-size: 22px;
  }
  tr{
    border-bottom: 1px solid rgb(161, 161, 161);
  }
 td {
    padding: 0.8em;
    text-align: center;  
    font-size: 18px;
  }
  .box{
    overflow-y: scroll;
    max-height: 650px;
    max-width: 900px;
    
  }
  .box table{ 
    background-color: white;        
    padding: 1em;
    padding-top: 1.5em;
    margin: 15px 80px;
    width: 769px;
    height: 392px; 
    box-shadow: 1px 1px 15px 1px #ebebeb;
    border-radius: 10px;
    border-spacing: 0.5em;
  }
  .buttons{
    border: none;
    background: none;
    width: 70px;
    color:#A2ABD1;
    height: 70px;
    font-size: 1em;
  }
  .trashIcon{
    color: #ff0000;
    font-size: 1.7em;
  }
  .pencilIcon{
    color: #c3c3c3;
    font-size: 1.7em;
  }
  #Add {
      background-color: #A2ABD1;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      color: white;
      font-size: 2em;
      border: none;
  }
  #topContainer{
    margin-left: 4em;
  }
  #delete-confirmation{
    display: none;
    position: absolute;
    background-color: white;
    margin-left: 20%;
    margin-top: 25vh;
    z-index: 3;
  }
  #content-container{
    box-shadow: 1px 1px 15px 2px #d8d8d8;
    width: 400px;
    min-height: 100px;
    z-index: 3;
    padding: 2em;
  }
  #content-container p{
    overflow-y: scroll;
  }
#darkBcground{
    width: 100%;
    background-color: black;
    height: 104%;
    position: absolute;
    z-index: 2;
    opacity: 25%;
    display: none;
 }
 #deleteButton{
  border: none;
  background-color: rgb(185, 63, 63);
  border-radius: 50px;
  padding: 0.2em 0.8em 0.2em 0.8em;
  color: white;
  font-size: 1.2em;
  margin-left: 0.5em;
}
#cancelButton{
  border: none;
  background-color: rgb(182, 182, 182);
  border-radius: 50px;
  padding: 0.2em 0.8em 0.2em 0.8em;
  color: white;
  font-size: 1.2em;
  margin-right: 0.5em;
}
#deleteButton:hover{
  background-color: rgb(162, 52, 52);
}
#cancelButton:hover{
  background-color: rgb(158, 158, 158);
}
.confirm-action-Button{
  border: none;
  background-color: rgb(185, 63, 63);
  border-radius: 50px;
  padding: 0.2em 0.8em 0.2em 0.8em;
  color: white;
  font-size: 1.2em;
  margin-left: 0.5em;
}
.confirm-action-Button:hover{
  background-color: rgb(162, 52, 52);
}
.ui-widget-header{
  background: #A2ABD1 ;
}
.ui-datepicker-month, .ui-datepicker-year{
  color: white;
} 
#success-confirmation{
  display: none;
  position: absolute;
  background-color: white;
  margin-left: 20%;
  margin-top: 21vh;
  z-index: 3;
}
#content-container{
  box-shadow: 1px 1px 15px 2px #d8d8d8;
  width: 400px;
  min-height: 100px;
  z-index: 3;
  padding: 2em;
}
#cancelBtn{
  border: none;
  background: none;
}
#okButton{
  border: none;
  background-color: rgb(87, 189, 87);;
  border-radius: 50px;
  padding: 0.3em 2em 0.3em 2em;
  color: white;
  font-size: 1.2em;
}
#okButton:hover{
  background-color: rgb(72, 163, 72);;
}
.bi-check-circle-fill{
color: rgb(93, 203, 93);
font-size: 7em;
}
.msg{
color:rgb(35, 35, 35);
font-weight: 300;
}
