h1{
    color: #A2ABD1;
    padding-bottom: 4%;
}
.pet-image{
    width:40%;     
}
.bi-x-circle-fill{
  color: rgb(199, 74, 74);
  font-size: 1.5em;
}
.bi-check-circle-fill{
  color: rgb(94, 214, 94);
  font-size: 1.5em;
}
/*RAYA and REEM*/
.line {
    background-color: #8992bd;
    width: 200px;
    height: 2px;
    margin-top: 10px;
    margin-left: 5%;
  }

#title {
    margin-left: 5%;
    font-weight: bold;
    color: #8690bb;
    font-size: 25px;
}
.upcoming-apt p {
  padding-top: 70px; 
}

.upcoming-apt {
  margin: 5px 20px;
}
.t-img {
  width: 56px;
  height: 56px;  
}
#addServiceBtn{
  position: fixed;
   border-radius: 30px;
   border: none;
   width: 10em;
   background-color: #111B47;
   color: white;
   padding: 0.8em 1.2em 0.8em 1.2em;
   bottom: 2em;
   right: 2em;
   font-size: 1.2em;
}
#addServiceBtn:hover{
  background-color: #1f2b5f;
}
#myPets{
  margin-left: -20px;
}
#ServicesList{
  overflow: auto;
  min-height: 420px;
  display: flex;
  max-width: 830px;
}
.cards{
 margin-top: 0.3em;
 margin-bottom: 0.3em;
 box-shadow: 1px 1px 15px 1px #ebebeb;
 min-width: 240px;
 background-color: white;
 height: fit-content;
 margin-right: 1.5em;
 margin-left: 1em;
 display: flex;
 align-items: center;
 text-align: center;
 flex-direction: column;
}
.main-info{
   margin-top: 0.5em;
   color: #737ca7;
   font-weight: bold;
}
.cards:hover{
   cursor:pointer;
}
.next-previous{
   background-color: transparent;
   border: none;
   font-size: 1.5em;
   color: #6e6e6e;
}
.next-previous:hover{
   cursor: pointer;
   background-color: #dbdbdb;
   border-radius: 35px;
}
.line {
background-color: #A2ABD1;
width: 200px;
height: 2px;
margin-top: 10px;
margin-left: 5%;
}
.garbage{
margin-left: 7em;
color: rgb(175, 44, 44);
font-size: 1.3em;
}
.edit{
font-size: 1.3em;
color:#6e6e6e;
}
#servicesContainer{
margin-left: 2em;
}
.collap{
  transition: 0.4s;
}
.collap:hover{
  background-color: #ebebeb;
}
.active{
  background-color: #ebebeb;
}
.content{
  display: none;
  height: fit-content;
  max-width: 240px;
  padding: 1em;
}
.ServiceImg{
  border-radius: 50%;
}
hr{
  width: 100%;
}
