
  .contact_owner{
    color:#687098;
    font-size: 1.3em;
    margin-bottom: 0em;
  }
  .contact_owner a{
    color:#687098;
    text-decoration: none;
  }
  .contact_owner a:hover{
    color:#51587b;
  }
  .card{
    min-width: 550px !important;
  }
  .line {
    background-color: #9199be;
    width: 200px;
    height: 2px;
    margin-top: 10px;
  }
.upcoming-apt p {
  padding-top: 1em;
  font-weight: bold;
  color: #9199be;
  font-size: 22px;
  }

.upcoming-apt {
   margin-bottom: 2.5em;
}