body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} 
.sideMenuColor{
    color: #111B47;
}
.sideMenuColor:hover{
    color: white;
}
#Container{
    margin-left: 0;
    padding-left: 0;
    
}
#bcImg3{
position: absolute;
z-index: -1;
height: 650px;
width: 700px;
right: -10em;
bottom: 0;
}
#logoutBtn{
border:none;
background-color: #111B47;
border-radius: 50px;
color: white;
padding: 0.5em 1em 0.5em 1em;
}
#logoutBtn:hover{
background-color: #1f2b5f;
}
li{
    font-size: 1.2em;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
li:hover{
    cursor: pointer;
}
li a{
    margin-left: 1em !important;
}
#Logospan{
    margin-left: 0.8em !important;
}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    min-width: 340px !important;
    padding-left: 0 !important;
 }
}