body{
    margin: 0%;
}
#container{
    margin-top: 2.5em;  
    display: flex;
    justify-content: space-around;
}
.leftimg{
    position: relative;
    width:450px;
    height:400px;
    z-index: 1;
    left:0;
    top: 9.5em;
    bottom:0;
    
}
#forgotPass{
    color:#111B47;
}

.leftbackground{
    bottom: 0;
    position: absolute;
    z-index: -1;
    width:650px;
    height:550px;
    left:0;
    
}
#box{
    width: 400px;
    height: fit-content;
    box-shadow: 1px 1px 15px 1px #ebebeb;
    border-radius: 17px;
    padding-bottom: 0.6em;
    align-self: center;
    margin-right: 10em;
    background-color: white;   
}
#smallImg{
    height: 70px;
}
#top{
    padding: 1.5em 1.5em 1em 1.5em;
    display: flex;
    color: #5a638d;
    justify-content: space-between;
    background-color: #edeffb;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}
#signInBtn2{
    background-color: #111B47;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    border-radius: 30px;
    border: none;  
    cursor: pointer;
    width: 200px;
    height: 40px;
    opacity: 0.9;
    font-size: 18px;
    margin-left: 6rem ;
    margin-top: 1rem ;
}
#signInBtn2:hover {
    opacity: 1;
  }
#inputs{
    padding: 1.2em 2em 2em 2em;    
}
.labels{
  font-size: 18px;
}
input[type="password"] ,input[type="email"]{
    border-radius: 30px;
    padding-left: 1em;
    margin-top: 0.5em;
    width: 300px;
    height: 40px;
    border: 1px solid #85858573;
}
#toSignup{
    padding-top: 0.1em;
    font-size: 16px;
    text-align: center;
}
a:link { 
    text-decoration: none;
}
#forgetpass{
    margin-top: 1rem ;
    margin-left: 6em; 
}
i{
color: #111B47;
padding-right: 0.5em;
}
.alert{
    width: 90%;
    margin: auto;
    margin-top: 0.8em;
    padding: 0.8em !important;
}