
body {
 background-color: #ffffff;
 font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.div{
    margin: 10%; 
    background-color:#FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.MyPetPage{
    background-image:url(images/undraw_pet_adoption.png);
    background-position: left bottom;
    background-size: 40% 40%;
    background-repeat: no-repeat;
    
}

.edit{
    text-align: right;
    display:inline;
    position:relative;
    float: right;
    padding: 5px;
}
.delete{
    color: red;
    text-align: right;
    display:inline;
    position:relative;
    float: right;
    padding: 5px;
}


form{
    display: inline;
    
}
.frame{
    position:relative;
    border-radius: 17px;
    box-shadow: 1px 1px 15px 1px #ebebeb;
    padding: 2em;
    width:65%;
}
input, textarea , select{
    display: block;
    margin-bottom: 1em;
    column-count: 20;
    overflow: scroll;
    width: 40%;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #444;
    
}
.p-to-Line{
 display: inline;
 color: rgb(199, 199, 199);
}
#MyPet-Listing{
    display: inline; 
    top: 15px;
    color:#37447E;
}
.anchors{
    text-decoration: none;
    color: white ;
}
.ul{
    
    list-style: none;
}
div.petList{  
    border-style:none;
    background-color: rgb(241, 241, 241);
    padding-bottom: 2px;
    margin: 5%;
    border-radius: 1em;
    width: 80%;
    overflow: auto;
}
h4.petName{
    margin-top: 0px;
}
h6.pet-information{
    padding: 0px;
    color: rgb(84, 97, 110);
    display: inline;
}
h6.the-info{
    color: rgb(84, 97, 110);
    display: inline;
}
table{
    font-size: small;
    width: 50%;
}

.btns{
    color: cornsilk;
    background-color: #37447E;
    top: 15px;
    left: 80%;
    position: absolute;
    border-radius: 30%;
    padding: 0.375rem 0.75rem;
    width:15%; 
    display: inline-block;
    border-radius: 25px;
    margin-top: 15px;
    line-height: 1.8;
    overflow: hidden;
    max-width: 155px;
    text-overflow: ellipsis;
}
#plusS{
    position: absolute;
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 90%;
    position: absolute;
    text-align: center;
    
}
/*ACCORDION*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: rgb(236, 236, 236);
    display: none;
    overflow: hidden;
    margin: 1px;
  }
  #medical-History{
      height: 90px;
  }
  #bcImg1{
      position: absolute;
      width: 400px;
      height: 600px;
      bottom: 0;
      left: -3em;
      z-index: -1;
  }
  #bcImg2{
    position: absolute;
    width: 800px;
    height: 900px;
    bottom: 0;
    right: -3em;
    z-index: -1;
    top: 90%;
    transform: rotate(270deg);
}
