
body {
 background-color: #ffffff;
 font-family: 'Roboto', sans-serif;
 
  }
div{
    margin: 10%; /*لو بحط الهدر لازم اعرف البعد عن الtop */
    background-color:#FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.MyPetPage{
    background-image:url(images/undraw_pet_adoption.png);
    background-position: left bottom;
    background-size: 40% 40%;
    background-repeat: no-repeat;
    
}

.edit{
    text-align: right;
    display:inline;
    position:relative;
    float: right;
    padding: 5px;
}
.delete{
    color: red;
    text-align: right;
    display:inline;
    position:relative;
    float: right;
    padding: 5px;
}


form{
    display: inline;
    
}
.frame{
    position:relative;
    border-radius: 17px;
    box-shadow: 1px 1px 15px 1px #ebebeb;
    padding: 2em;
    width:65%;
    content: "";
    clear: both;
    display: table;
}
input, textarea , select{
    display: block;
    margin-bottom: 1em;
    column-count: 20;
    overflow: scroll;
    width: 40%;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #444;
    
}
.p-to-Line{
 display: inline;
 color: rgb(199, 199, 199);
}
#MyPet-Listing{
    display: inline; 
    top: 15px;
}
a{
    text-decoration: none;
    color: white ;
}
ul{
    
    list-style: none;
}
div.petList{
    
    border-style:none;
    background-color: rgb(236, 236, 236);
    padding: 15px;
    padding-bottom: 2px;
    margin: 5%;
    border-radius: 6%;
    width: 70%;
    overflow: auto;
}
h4.petName{
    margin-top: 0px;
}
h6.pet-information{
    padding: 0px;
    color: rgb(84, 97, 110);
    display: inline;
}
h6.the-info{
   
   /* position: relative;*/
    color: rgb(84, 97, 110);
    display: inline;
}
table{
    font-size: small;
    width: 50%;
}

button{
 color: cornsilk;
 background-color: #37447E;
 top: 15px;
 left: 80%;
 position: absolute;
 border-radius: 30%;
 
 padding: 0.375rem 0.75rem;
 width:15%; 
 display: inline-block;
 border-radius: 25px;
    margin-top: 15px;
   /* height: calc(2.6rem + 2px);*/
    line-height: 1.8;
    overflow: hidden;
    max-width: 155px;
    text-overflow: ellipsis;
}

#pet-image{
    float: right;
    width: 25%;
    position: absolute;
    top: 30%;
    left: 60%;
}
#addinPic{
  content: "";
  clear: both;
  display: table;
}
#plusS{
    position: absolute;
    color: white;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 90%;
    position: absolute;
    text-align: center;
    
}
/*ACCORDION*/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin: 1px;
  }
  
  /*
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\F22C";
  }
  */
  #medical-History{
      height: 90px;
  }
  