body{
    margin: 0;
    overflow-x: hidden;
}
#container{
    margin-top: 3em;   
    display: flex;   
}
#box{
    background-color: white;
    height: fit-content;
    box-shadow: 1px 1px 15px 1px #ebebeb;
    border-radius: 17px;
}
#background{
    position: absolute;
    width:800px;
    height:750px;
    z-index: -1;
    right: -5em;
    bottom:0;
    top: 20vh;
    transform: rotate(180deg);
}
#smallImg{
    height: 420px;
    width: 470px;
    align-self: center;
}
#top{
    padding: 2em 0em 0.5em 2em;
    display: flex;
    color: #363f6b;
    justify-content: space-between;
    background-color: #e4e8fc;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
#profile_image{
    height: 70px; 
}
#signInBtn2{
    background-color: #111B47;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-radius: 30px;
    border: none;
    width: 120px;
    height: 40px;
    opacity: 0.9;
    margin-top: 1rem ;
}
#signInBtn2:hover {
    opacity: 1;
  }
#inputs{
    padding: 2em 2em 0.5em 2em;    
}
#profile-image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
#addinPic{
    margin-bottom: 1em;
    width: 150px;
}
#addinPic label{
    margin-top: -3em;
}
#uploadFile{
    display: none;
}
#plusS{
    font-size: 2.2em;
    margin-top: -1.5em;
    color: #6571a7;
    border-radius: 90%;
    text-align: center;
    cursor: pointer;
}
input[type="text"], [type="password"],[type="email"],[type="tel"]{
    width: 300px;
    margin-top: 0.5em;
    margin-bottom: 0.5em !important;
    border-radius: 20px;
    padding-left: 1em;
    height: 40px;
    border:1px solid #979797;   
}
input[type="radio"]{  
    margin-top: 0.5em;
    margin-left: 1em;  
}

  
