
div{
    margin: 5%;
    padding: 5%;
}
label{
color: #A2ABD1;
padding: 3px;
margin-bottom: 4px; 
margin: 10px;
font-family: 'Roboto', sans-serif;
}
textarea{
    display: block;
    border-style:none;
    box-shadow: 0.1px 0.1px 2px 0.1px;
    border-radius: 17px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 15px;
}
.loc{
    
}
.bi-pencil{
    color: rgb(113, 113, 128);
    display: inline;
    position: relative;
}